// deps
// @import '_bootstrap.min.scss';
// @import 'material-ui-sass/material-ui.scss';
// @import 'material-ui-sass/material-ui/html';
@import 'material';
@import 'visualsearch-datauri';
@import 'node_modules/sass-boilerplate/silent-classes';

// share variables with React components
@import "../../constants/StyleConstants.json";

// refs to JSON constants
$prefix: $PREFIX;
$buttonClass: map-get($classes, BUTTON);

.#{$prefix} {
  &#{$buttonClass} {
    /* test */
  }
}


// variables
$toolbarOffset: 30px;


/**********************************
 * Components
 **********************************/
@import 'components/react-treeview/react-treeview';
@import 'components/react-treeview/opinionated';
@import 'components/crud-buttons/crud-buttons';
@import 'components/create-form';

// hack tree-view
.tree-view_children-collapsed {
  margin: 0;
}

// hacking material css
body {
  font-size: 100%;
  background-color: whitesmoke;
}
.mui-icon-button {
  padding: 4px;
  top: 2px;
}

.mui-svg-icon {
  height: 17px;
  width: 17px;
}

.fancy-field {
  display: inline-block;
}

.mui-text-field {
  width: 200px;
}

.hidden {
  display: none;
}

.toolbar {
  position: fixed;
  background-color: gray;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  height: $toolbarOffset;
}


/**************************
 * Main style.
 **************************/
.container {
  @extend %clearfix;
  background-color: whitesmoke;
  padding: 1em;
  padding-top: 0;
  margin-top: $toolbarOffset;
}

a {
  text-decoration: none;
}

$columnHeight: 40rem;

%paper-shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.column {
  @extend %paper-shadow;
  background-color: white;
  height: $columnHeight;
  width: 32%;
  margin-right: 2%;
  float: left;
  &:last-child {
    margin-right: 0;
  }
  padding: 1em;
  padding-top: 0.5em;
}

.column .region {
  margin-bottom: 2em;
}

#nodeList {
  margin-top: 1em;
}

.inactive a {
  color: gray;
}

ul {
  @extend %plain-list;
  padding-left: 0;
  ul {
    padding-left: 1em;
    margin-bottom: 0.5em;
  }
}

.value {
  &.active {
    font-weight: bold;
  }
}
