/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*
  RESET
*------------------------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0; }

.no-wrap {
  white-space: nowrap; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

html {
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; }

hr {
  border: none;
  border-bottom: solid 1px #e0e0e0; }

.mui-text-full-black {
  color: #000000; }

.mui-text-dark-black {
  color: rgba(0, 0, 0, 0.87); }

.mui-text-light-black {
  color: rgba(0, 0, 0, 0.54); }

.mui-text-min-black {
  color: rgba(0, 0, 0, 0.26); }

.mui-text-full-white {
  color: #ffffff; }

.mui-text-dark-white {
  color: rgba(255, 255, 255, 0.87); }

.mui-text-light-white {
  color: rgba(255, 255, 255, 0.54); }

.mui-font-weight-light {
  font-weight: 300; }

.mui-font-weight-normal {
  font-weight: 400; }

.mui-font-weight-medium {
  font-weight: 500; }

/* Type Styles */
.mui-font-style-display-4 {
  font-size: 112px;
  line-height: 128px;
  letter-spacing: -7px;
  padding-top: 17px;
  margin-bottom: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54); }

.mui-font-style-display-3 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  padding-top: 8px;
  margin-bottom: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.mui-font-style-display-2 {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 11px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.mui-font-style-display-1 {
  font-size: 34px;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.mui-font-style-headline {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-title {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-subhead-2 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-subhead-1 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 24px;
  padding-top: 3px;
  margin-bottom: 13px;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-body-2 {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-body-1 {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-caption {
  font-size: 12px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.mui-font-style-menu {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.mui-font-style-button {
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

/* General HTML Typography */
body {
  font-size: 13px;
  line-height: 20px; }

h1 {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 11px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

h2 {
  font-size: 34px;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

h3 {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

h4 {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

h5 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 24px;
  padding-top: 3px;
  margin-bottom: 13px;
  color: rgba(0, 0, 0, 0.87); }

h6 {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

p {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

hr {
  margin-top: 0;
  margin-bottom: 18px; }

.mui-predefined-layout-1 .mui-app-content-canvas {
  padding-top: 64px; }

.mui-predefined-layout-1 .mui-app-bar {
  position: fixed;
  height: 64px; }

.mui-key-width-1 {
  width: 64px; }

.mui-key-width-2 {
  width: 128px; }

.mui-key-width-3 {
  width: 192px; }

.mui-key-width-4 {
  width: 256px; }

.mui-key-width-5 {
  width: 320px; }

.mui-key-width-6 {
  width: 384px; }

.mui-key-width-7 {
  width: 448px; }

.mui-key-width-8 {
  width: 512px; }

.mui-key-width-9 {
  width: 576px; }

.mui-key-width-10 {
  width: 640px; }

.mui-key-height-1 {
  height: 64px; }

.mui-key-height-2 {
  height: 128px; }

.mui-key-height-3 {
  height: 192px; }

.mui-key-height-4 {
  height: 256px; }

.mui-key-height-5 {
  height: 320px; }

.mui-key-height-6 {
  height: 384px; }

.mui-key-height-7 {
  height: 448px; }

.mui-key-height-8 {
  height: 512px; }

.mui-key-height-9 {
  height: 576px; }

.mui-key-height-10 {
  height: 640px; }

.mui-app-bar {
  width: 100%;
  background-color: #00bcd4;
  z-index: 5; }

.mui-app-bar .mui-paper-container {
  padding-left: 24px;
  padding-right: 24px; }

.mui-app-bar .mui-icon-button {
  margin-top: 8px; }

.mui-app-bar .mui-icon-button * {
  fill: rgba(255, 255, 255, 0.87);
  color: rgba(255, 255, 255, 0.87); }

.mui-app-bar .mui-app-bar-title {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  color: rgba(255, 255, 255, 0.87);
  padding-top: 0;
  line-height: 64px;
  float: left; }

.mui-app-bar .mui-app-bar-navigation-icon-button {
  float: left;
  margin-right: 8px;
  margin-left: -16px; }

.mui-card {
  background-color: #ffffff;
  padding: 24px; }

.mui-card .mui-card-toolbar {
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 24px;
  line-height: 56px;
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.mui-checkbox .mui-checkbox-icon {
  height: 24px;
  width: 24px;
  margin-right: 16px; }

.mui-checkbox .mui-checkbox-icon .mui-checkbox-check {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
          transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms; }

.mui-checkbox .mui-checkbox-icon .mui-checkbox-check * {
  fill: #00bcd4; }

.mui-checkbox .mui-checkbox-icon .mui-checkbox-box {
  position: absolute; }

.mui-checkbox .mui-checkbox-icon .mui-checkbox-box * {
  fill: rgba(0, 0, 0, 0.87);
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms;
          transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms; }

.mui-checkbox.mui-is-switched .mui-checkbox-icon .mui-checkbox-check {
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
          transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-checkbox.mui-is-switched .mui-checkbox-icon .mui-checkbox-box {
  -webkit-transition: all 100s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 100s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-checkbox.mui-is-switched .mui-checkbox-icon .mui-checkbox-box * {
  fill: #00bcd4; }

.mui-checkbox.mui-is-disabled .mui-checkbox-icon .mui-checkbox-check *,
.mui-checkbox.mui-is-disabled .mui-checkbox-icon .mui-checkbox-box * {
  fill: rgba(0, 0, 0, 0.3); }

.mui-checkbox.mui-is-required .mui-checkbox-icon .mui-checkbox-box * {
  fill: #00bcd4; }

.mui-date-picker-calendar {
  font-size: 12px; }

.mui-date-picker-calendar .mui-date-picker-calendar-week-title {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  line-height: 12px;
  padding: 0 14px; }

.mui-date-picker-calendar .mui-date-picker-calendar-week-title:before,
.mui-date-picker-calendar .mui-date-picker-calendar-week-title:after {
  content: " ";
  display: table; }

.mui-date-picker-calendar .mui-date-picker-calendar-week-title:after {
  clear: both; }

.mui-date-picker-calendar .mui-date-picker-calendar-week-title-day {
  list-style: none;
  float: left;
  width: 32px;
  text-align: center;
  margin: 0 2px; }

.mui-date-picker-calendar .mui-date-picker-calendar-container {
  -webkit-transition: height 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: height 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-date-picker-calendar.mui-is-4week .mui-date-picker-calendar-container {
  height: 228px; }

.mui-date-picker-calendar.mui-is-5week .mui-date-picker-calendar-container {
  height: 268px; }

.mui-date-picker-calendar.mui-is-6week .mui-date-picker-calendar-container {
  height: 308px; }

.mui-is-landscape .mui-date-picker-calendar:before,
.mui-is-landscape .mui-date-picker-calendar:after {
  content: " ";
  display: table; }

.mui-is-landscape .mui-date-picker-calendar:after {
  clear: both; }

.mui-is-landscape .mui-date-picker-calendar-date-display {
  width: 280px;
  height: 100%;
  float: left; }

.mui-is-landscape .mui-date-picker-calendar-container {
  width: 280px;
  float: right; }

.mui-date-picker-calendar-month {
  line-height: 32px;
  text-align: center;
  padding: 8px 14px 0 14px;
  background-color: #ffffff; }

.mui-date-picker-calendar-month .mui-date-picker-calendar-month-week:before,
.mui-date-picker-calendar-month .mui-date-picker-calendar-month-week:after {
  content: " ";
  display: table; }

.mui-date-picker-calendar-month .mui-date-picker-calendar-month-week:after {
  clear: both; }

.mui-date-picker-calendar-toolbar {
  height: 48px;
  position: relative; }

.mui-date-picker-calendar-toolbar .mui-date-picker-calendar-toolbar-title {
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  font-weight: 500; }

.mui-date-picker-calendar-toolbar .mui-date-picker-calendar-toolbar-button-left {
  position: absolute;
  left: 0;
  top: 0; }

.mui-date-picker-calendar-toolbar .mui-date-picker-calendar-toolbar-button-right {
  position: absolute;
  right: 0;
  top: 0; }

.mui-date-picker-date-display {
  text-align: center;
  position: relative; }

.mui-date-picker-date-display .mui-date-picker-date-display-dow {
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  background-color: #0097a7;
  color: #ffffff;
  border-radius: 2px 2px 0 0; }

.mui-date-picker-date-display .mui-date-picker-date-display-date {
  padding: 16px 0;
  background-color: #00bcd4;
  color: #ffffff; }

.mui-date-picker-date-display .mui-date-picker-date-display-month,
.mui-date-picker-date-display .mui-date-picker-date-display-year {
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  text-transform: uppercase; }

.mui-date-picker-date-display .mui-date-picker-date-display-day {
  margin: 6px 0;
  line-height: 58px;
  height: 58px;
  font-size: 58px; }

.mui-date-picker-date-display .mui-date-picker-date-display-year {
  color: rgba(255, 255, 255, 0.7); }

.mui-is-landscape .mui-date-picker-date-display * {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-is-landscape .mui-date-picker-date-display-dow {
  border-radius: 2px 0 0 0; }

.mui-is-landscape .mui-date-picker-date-display-date {
  padding: 24px 0; }

.mui-is-landscape .mui-date-picker-date-display-day {
  font-size: 76px;
  line-height: 76px;
  height: 76px; }

.mui-is-landscape .mui-date-picker-date-display-month,
.mui-is-landscape .mui-date-picker-date-display-year {
  font-size: 26px;
  line-height: 26px;
  height: 26px; }

.mui-is-landscape .mui-is-5week .mui-date-picker-date-display-date {
  padding: 30px 0; }

.mui-is-landscape .mui-is-5week .mui-date-picker-date-display-day {
  margin: 24px 0; }

.mui-is-landscape .mui-is-6week .mui-date-picker-date-display-date {
  padding: 50px 0; }

.mui-is-landscape .mui-is-6week .mui-date-picker-date-display-day {
  margin: 24px 0; }

.mui-date-picker-dialog {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87); }

.mui-date-picker-dialog .mui-date-picker-dialog-window.mui-dialog-window-contents {
  width: 280px; }

.mui-is-landscape .mui-date-picker-dialog-window.mui-dialog-window-contents {
  width: 560px; }

.mui-date-picker-day-button {
  position: relative;
  float: left;
  width: 36px;
  padding: 4px 2px; }

.mui-date-picker-day-button .mui-date-picker-day-button-select {
  position: absolute;
  background-color: #0097a7;
  height: 32px;
  width: 32px;
  opacity: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-date-picker-day-button .mui-date-picker-day-button-label {
  position: relative; }

.mui-date-picker-day-button.mui-is-selected .mui-date-picker-day-button-label {
  color: #ffffff; }

.mui-date-picker-day-button.mui-is-selected .mui-date-picker-day-button-select {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mui-date-picker-day-button.mui-is-current-date {
  color: #00bcd4; }

.mui-dialog-window {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
          transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms; }

.mui-dialog-window .mui-dialog-window-contents {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  width: 75%;
  max-width: 768px;
  margin: 0 auto;
  z-index: 10;
  background: #ffffff;
  opacity: 0; }

.mui-dialog-window .mui-dialog-window-actions {
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: right; }

.mui-dialog-window .mui-dialog-window-actions .mui-dialog-window-action {
  margin-right: 8px; }

.mui-dialog-window.mui-is-shown {
  left: 0px;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-dialog-window.mui-is-shown .mui-dialog-window-contents {
  opacity: 1;
  top: 0px;
  -webkit-transform: translate3d(0, 64px, 0);
          transform: translate3d(0, 64px, 0); }

.mui-dialog .mui-dialog-title {
  padding: 24px 24px 0 24px;
  margin-bottom: 0; }

.mui-dialog .mui-dialog-content {
  padding: 24px; }

.mui-drop-down-icon {
  display: inline-block;
  width: 48px !important;
  position: relative;
  height: 56px;
  font-size: 15px;
  cursor: pointer; }

.mui-drop-down-icon.mui-open .mui-icon-highlight {
  background-color: rgba(0, 0, 0, 0.1); }

.mui-drop-down-icon.mui-open .mui-menu-control .mui-menu-control-bg,
.mui-drop-down-icon.mui-open .mui-menu-control:hover .mui-menu-control-bg {
  opacity: 0; }

.mui-drop-down-icon.mui-open .mui-menu-control .mui-menu-label,
.mui-drop-down-icon.mui-open .mui-menu-control:hover .mui-menu-label {
  top: 28px;
  opacity: 0; }

.mui-drop-down-icon.mui-open .mui-menu {
  opacity: 1; }

.mui-drop-down-icon .mui-menu {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  right: -14px !important;
  top: 9px !important; }

.mui-drop-down-icon .mui-menu .mui-menu-item {
  padding-right: 56px;
  height: 32px;
  line-height: 32px; }

.mui-drop-down-menu {
  position: relative;
  display: inline-block;
  height: 56px;
  font-size: 15px; }

.mui-drop-down-menu * {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-drop-down-menu.mui-open .mui-menu-control .mui-menu-control-bg,
.mui-drop-down-menu.mui-open .mui-menu-control:hover .mui-menu-control-bg {
  opacity: 0; }

.mui-drop-down-menu.mui-open .mui-menu-control .mui-menu-label,
.mui-drop-down-menu.mui-open .mui-menu-control:hover .mui-menu-label {
  top: 28px;
  opacity: 0; }

.mui-drop-down-menu.mui-open .mui-menu {
  opacity: 1; }

.mui-drop-down-menu .mui-menu-control {
  cursor: pointer;
  height: 100%; }

.mui-drop-down-menu .mui-menu-control:before,
.mui-drop-down-menu .mui-menu-control:after {
  content: " ";
  display: table; }

.mui-drop-down-menu .mui-menu-control:after {
  clear: both; }

.mui-drop-down-menu .mui-menu-control .mui-menu-control-bg {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0; }

.mui-drop-down-menu .mui-menu-control:hover .mui-menu-control-bg {
  opacity: 1; }

.mui-drop-down-menu .mui-menu-control .mui-menu-label {
  line-height: 56px;
  position: absolute;
  padding-left: 24px;
  top: 0;
  opacity: 1; }

.mui-drop-down-menu .mui-menu-control .mui-menu-drop-down-icon {
  position: absolute;
  top: 16px;
  right: 16px; }

.mui-drop-down-menu .mui-menu-control .mui-menu-drop-down-icon * {
  fill: rgba(0, 0, 0, 0.26); }

.mui-drop-down-menu .mui-menu-control .mui-menu-control-underline {
  border-top: solid 1px #e0e0e0;
  margin: 0 24px; }

.mui-drop-down-menu .mui-menu .mui-menu-item {
  padding-right: 48px;
  height: 32px;
  line-height: 32px;
  white-space: nowrap; }

.mui-enhanced-button {
  border: 0;
  background: none; }

.mui-enhanced-button:focus {
  outline: none; }

.mui-enhanced-button.mui-is-link-button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none; }

.mui-enhanced-button.mui-is-link-button:hover {
  text-decoration: none; }

.mui-enhanced-button.mui-is-link-button.mui-is-disabled {
  cursor: default; }

.mui-enhanced-switch {
  position: relative;
  cursor: pointer;
  overflow: visible;
  display: table;
  height: auto;
  width: 100%; }

.mui-enhanced-switch .mui-enhanced-switch-input {
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0; }

.mui-enhanced-switch .mui-enhanced-switch-wrap {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  float: left;
  position: relative;
  display: table-column; }

.mui-enhanced-switch .mui-enhanced-switch-wrap .mui-touch-ripple,
.mui-enhanced-switch .mui-enhanced-switch-wrap .mui-focus-ripple-inner {
  width: 200%;
  height: 200%;
  top: -12px;
  left: -12px; }

.mui-enhanced-switch .mui-switch-label {
  float: left;
  position: relative;
  display: table-column;
  width: calc(100% - 60px);
  line-height: 24px; }

.mui-enhanced-switch.mui-is-switched .mui-focus-ripple-inner,
.mui-enhanced-switch.mui-is-switched .mui-ripple-circle-inner {
  background-color: rgba(0, 188, 212, 0.2); }

.mui-enhanced-textarea .mui-enhanced-textarea-shadow,
.mui-enhanced-textarea .mui-enhanced-textarea-input {
  width: 100%;
  resize: none; }

.mui-enhanced-textarea .mui-enhanced-textarea-input {
  overflow: hidden; }

.mui-enhanced-textarea .mui-enhanced-textarea-shadow {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute; }

.mui-flat-button {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  line-height: 36px;
  min-width: 88px;
  padding: 0 16px;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-flat-button .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(0, 0, 0, 0.1); }

.mui-flat-button .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(0, 0, 0, 0.07); }

.mui-flat-button .mui-flat-button-label {
  position: relative; }

.mui-flat-button:hover,
.mui-flat-button.mui-is-keyboard-focused {
  background-color: #e6e6e6; }

.mui-flat-button.mui-is-disabled {
  color: rgba(0, 0, 0, 0.3); }

.mui-flat-button.mui-is-disabled:hover {
  background-color: inherit; }

.mui-flat-button.mui-is-primary {
  color: #ff4081; }

.mui-flat-button.mui-is-primary:hover,
.mui-flat-button.mui-is-primary.mui-is-keyboard-focused {
  background-color: #ffe3ed; }

.mui-flat-button.mui-is-primary .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(255, 64, 129, 0.2); }

.mui-flat-button.mui-is-primary .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(255, 64, 129, 0.2); }

.mui-flat-button.mui-is-secondary {
  color: #00bcd4; }

.mui-flat-button.mui-is-secondary:hover,
.mui-flat-button.mui-is-secondary.mui-is-keyboard-focused {
  background-color: #defbff; }

.mui-flat-button.mui-is-secondary .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(0, 188, 212, 0.2); }

.mui-flat-button.mui-is-secondary .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(0, 188, 212, 0.2); }

.mui-floating-action-button {
  display: inline-block; }

.mui-floating-action-button,
.mui-floating-action-button * {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-floating-action-button .mui-floating-action-button-container {
  position: relative;
  height: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  background-color: #ff4081;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-floating-action-button .mui-floating-action-button-container.mui-is-disabled {
  background-color: #e6e6e6; }

.mui-floating-action-button .mui-floating-action-button-container.mui-is-disabled .mui-floating-action-button-icon {
  color: rgba(0, 0, 0, 0.3); }

.mui-floating-action-button .mui-floating-action-button-container.mui-is-disabled:hover {
  background-color: #e6e6e6; }

.mui-floating-action-button .mui-floating-action-button-container:hover,
.mui-floating-action-button .mui-floating-action-button-container.mui-is-keyboard-focused {
  background-color: #f30053; }

.mui-floating-action-button .mui-floating-action-button-icon {
  line-height: 56px;
  color: #ffffff;
  fill: #ffffff; }

.mui-floating-action-button .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(255, 255, 255, 0.5); }

.mui-floating-action-button .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(255, 255, 255, 0.5); }

.mui-floating-action-button.mui-is-mini .mui-floating-action-button-container {
  height: 40px;
  width: 40px; }

.mui-floating-action-button.mui-is-mini .mui-floating-action-button-icon {
  line-height: 40px; }

.mui-floating-action-button.mui-is-secondary .mui-floating-action-button-container {
  background-color: #00bcd4; }

.mui-floating-action-button.mui-is-secondary .mui-floating-action-button-container:hover,
.mui-floating-action-button.mui-is-secondary .mui-floating-action-button-container.mui-is-keyboard-focused {
  background-color: #00aac0; }

.mui-floating-action-button.mui-is-secondary .mui-floating-action-button-icon {
  color: #ffffff; }

.mui-floating-action-button.mui-is-secondary .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(255, 255, 255, 0.35); }

.mui-floating-action-button.mui-is-secondary .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(255, 255, 255, 0.35); }

.mui-font-icon {
  position: relative;
  font-size: 24px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.mui-icon-button {
  position: relative;
  padding: 12px; }

.mui-icon-button * {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-icon-button .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border: solid 6px transparent;
  background-clip: padding-box;
  -webkit-animation: icon-button-focus-ripple-pulsate 1.5s ease 0s infinite;
          animation: icon-button-focus-ripple-pulsate 1.5s ease 0s infinite; }

@-webkit-keyframes icon-button-focus-ripple-pulsate {
  0%,
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes icon-button-focus-ripple-pulsate {
  0%,
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.mui-icon-button .mui-icon-button-tooltip {
  margin-top: 52px; }

.mui-icon-button.mui-is-disabled * {
  color: rgba(191, 191, 191, 0.87);
  fill: rgba(191, 191, 191, 0.87); }

.mui-dark-theme .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(255, 255, 255, 0.3); }

.mui-dark-theme .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3); }

.mui-ink-bar {
  bottom: 0;
  display: block;
  background-color: yellow;
  height: 2px;
  margin-top: -2px;
  position: relative;
  -webkit-transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-input {
  position: relative;
  margin-top: 24px;
  margin-bottom: 48px; }

.mui-input input,
.mui-input textarea {
  background-color: transparent;
  font-size: 16px;
  border: 0;
  outline: none;
  border-bottom: 1px solid lightgray;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 14px; }

.mui-input input[type='text'],
.mui-input textarea[type='text'],
.mui-input input[type='password'],
.mui-input textarea[type='password'],
.mui-input input[type='email'],
.mui-input textarea[type='email'] {
  display: block;
  width: 320px; }

.mui-input input:focus,
.mui-input textarea:focus,
.mui-input input.mui-is-not-empty,
.mui-input textarea.mui-is-not-empty,
.mui-input input:disabled[value]:not([value=""]),
.mui-input textarea:disabled[value]:not([value=""]) {
  outline: none;
  box-shadow: none; }

.mui-input input:focus ~ .mui-input-placeholder,
.mui-input textarea:focus ~ .mui-input-placeholder,
.mui-input input.mui-is-not-empty ~ .mui-input-placeholder,
.mui-input textarea.mui-is-not-empty ~ .mui-input-placeholder,
.mui-input input:disabled[value]:not([value=""]) ~ .mui-input-placeholder,
.mui-input textarea:disabled[value]:not([value=""]) ~ .mui-input-placeholder {
  color: blue;
  font-size: 13px !important;
  font-weight: 300;
  top: -32px;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-input input:focus ~ .mui-input-highlight,
.mui-input textarea:focus ~ .mui-input-highlight,
.mui-input input.mui-is-not-empty ~ .mui-input-highlight,
.mui-input textarea.mui-is-not-empty ~ .mui-input-highlight,
.mui-input input:disabled[value]:not([value=""]) ~ .mui-input-highlight,
.mui-input textarea:disabled[value]:not([value=""]) ~ .mui-input-highlight {
  width: 0;
  background-color: blue;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-input input:focus ~ .mui-input-bar::before,
.mui-input textarea:focus ~ .mui-input-bar::before,
.mui-input input.mui-is-not-empty ~ .mui-input-bar::before,
.mui-input textarea.mui-is-not-empty ~ .mui-input-bar::before,
.mui-input input:disabled[value]:not([value=""]) ~ .mui-input-bar::before,
.mui-input textarea:disabled[value]:not([value=""]) ~ .mui-input-bar::before,
.mui-input input:focus ~ .mui-input-bar::after,
.mui-input textarea:focus ~ .mui-input-bar::after,
.mui-input input.mui-is-not-empty ~ .mui-input-bar::after,
.mui-input textarea.mui-is-not-empty ~ .mui-input-bar::after,
.mui-input input:disabled[value]:not([value=""]) ~ .mui-input-bar::after,
.mui-input textarea:disabled[value]:not([value=""]) ~ .mui-input-bar::after {
  background-color: blue;
  width: 50%; }

.mui-input input:focus ~ .mui-input-description,
.mui-input textarea:focus ~ .mui-input-description,
.mui-input input.mui-is-not-empty ~ .mui-input-description,
.mui-input textarea.mui-is-not-empty ~ .mui-input-description,
.mui-input input:disabled[value]:not([value=""]) ~ .mui-input-description,
.mui-input textarea:disabled[value]:not([value=""]) ~ .mui-input-description {
  display: block; }

.mui-input input:not(:focus).mui-is-not-empty + .mui-input-placeholder,
.mui-input textarea:not(:focus).mui-is-not-empty + .mui-input-placeholder,
.mui-input input:disabled[value]:not([value=""]) + .mui-input-placeholder,
.mui-input textarea:disabled[value]:not([value=""]) + .mui-input-placeholder {
  color: gray; }

.mui-input input:not(:focus).mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input textarea:not(:focus).mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input input:disabled[value]:not([value=""]) + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input textarea:disabled[value]:not([value=""]) + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input input:not(:focus).mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after,
.mui-input textarea:not(:focus).mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after,
.mui-input input:disabled[value]:not([value=""]) + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after,
.mui-input textarea:disabled[value]:not([value=""]) + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after {
  width: 0; }

.mui-input input:not(:focus).mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description,
.mui-input textarea:not(:focus).mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description,
.mui-input input:disabled[value]:not([value=""]) + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description,
.mui-input textarea:disabled[value]:not([value=""]) + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description {
  display: none; }

.mui-input input + .mui-input-placeholder,
.mui-input textarea + .mui-input-placeholder {
  font-size: 16px;
  color: gray;
  position: absolute;
  top: -4px;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-input .mui-input-highlight {
  content: '';
  position: absolute;
  background-color: transparent;
  opacity: 0.25;
  height: 19px;
  top: -3px;
  width: 160px;
  z-index: -1; }

.mui-input .mui-input-bar {
  position: relative;
  display: block;
  width: 320px; }

.mui-input .mui-input-bar::before,
.mui-input .mui-input-bar::after {
  content: '';
  height: 2px;
  top: -2px;
  width: 0;
  position: absolute;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-input .mui-input-bar::before {
  left: 50%; }

.mui-input .mui-input-bar::after {
  right: 50%; }

.mui-input .mui-input-description {
  display: none;
  color: blue;
  position: absolute; }

.mui-input .mui-input-error {
  display: none;
  color: red;
  position: absolute; }

.mui-input.mui-error input:focus + .mui-input-placeholder,
.mui-input.mui-error textarea:focus + .mui-input-placeholder,
.mui-input.mui-error input.mui-is-not-empty + .mui-input-placeholder,
.mui-input.mui-error textarea.mui-is-not-empty + .mui-input-placeholder {
  color: red; }

.mui-input.mui-error input:focus + .mui-input-placeholder + .mui-input-highlight,
.mui-input.mui-error textarea:focus + .mui-input-placeholder + .mui-input-highlight,
.mui-input.mui-error input.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight,
.mui-input.mui-error textarea.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight {
  width: 0;
  background-color: red; }

.mui-input.mui-error input:focus + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input.mui-error textarea:focus + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input.mui-error input.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input.mui-error textarea.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::before,
.mui-input.mui-error input:focus + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after,
.mui-input.mui-error textarea:focus + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after,
.mui-input.mui-error input.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after,
.mui-input.mui-error textarea.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar::after {
  background-color: red; }

.mui-input.mui-error input:focus + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description,
.mui-input.mui-error textarea:focus + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description,
.mui-input.mui-error input.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description,
.mui-input.mui-error textarea.mui-is-not-empty + .mui-input-placeholder + .mui-input-highlight + .mui-input-bar + .mui-input-description {
  display: none; }

.mui-input.mui-error .mui-input-error {
  display: block; }

.mui-input.mui-floating {
  margin-top: 24px; }

.mui-input.mui-floating input:focus + .mui-input-placeholder,
.mui-input.mui-floating textarea:focus + .mui-input-placeholder {
  display: block;
  color: gray;
  font-size: 16px !important;
  font-weight: 400;
  top: -4px; }

.mui-input.mui-floating input:focus.mui-is-not-empty + .mui-input-placeholder,
.mui-input.mui-floating textarea:focus.mui-is-not-empty + .mui-input-placeholder {
  display: none; }

.mui-input.mui-floating input.mui-is-not-empty + .mui-input-placeholder,
.mui-input.mui-floating textarea.mui-is-not-empty + .mui-input-placeholder {
  display: none; }

.mui-input.mui-disabled {
  opacity: 0.4; }

.mui-input::-webkit-input-placeholder {
  position: absolute !important;
  top: -20px !important; }

.mui-left-nav .mui-left-nav-menu {
  height: 100%;
  position: fixed;
  width: 256px;
  background-color: #ffffff;
  z-index: 10;
  left: 0px;
  top: 0px;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-left-nav .mui-left-nav-menu .mui-menu .mui-menu-item {
  height: 48px;
  line-height: 48px; }

.mui-left-nav .mui-left-nav-menu .mui-menu a.mui-menu-item {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87); }

.mui-left-nav.mui-closed .mui-left-nav-menu {
  -webkit-transform: translate3d(-266px, 0, 0);
          transform: translate3d(-266px, 0, 0); }

.mui-menu {
  background-color: #ffffff; }

.mui-menu * {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-menu.mui-menu-hideable {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1; }

.mui-menu.mui-menu-hideable .mui-paper-container {
  overflow: hidden;
  padding: 0; }

.mui-menu.mui-menu-hideable.mui-visible > .mui-paper-container {
  padding-top: 8px;
  padding-bottom: 8px; }

.mui-menu .mui-paper-container {
  padding-top: 8px;
  padding-bottom: 8px; }

.mui-menu .mui-subheader {
  padding-left: 24px;
  padding-right: 24px; }

.mui-menu .mui-nested-menu-item {
  position: relative; }

.mui-menu .mui-nested-menu-item.mui-open > .mui-menu {
  opacity: 1; }

.mui-menu-item {
  cursor: pointer;
  line-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: transparent; }

.mui-menu-item * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.mui-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.035); }

.mui-menu-item .mui-menu-item-number {
  float: right;
  width: 24px;
  text-align: center; }

.mui-menu-item .mui-menu-item-attribute {
  float: right; }

.mui-menu-item .mui-menu-item-icon-right {
  line-height: 48px;
  float: right; }

.mui-menu-item .mui-menu-item-icon {
  float: left;
  line-height: 48px;
  margin-right: 24px; }

.mui-menu-item .mui-menu-item-data {
  display: block;
  padding-left: 48px;
  line-height: 32px;
  height: 32px;
  vertical-align: top;
  top: -12px;
  position: relative;
  font-weight: 300; }

.mui-menu-item .muidocs-icon-custom-arrow-drop-right {
  margin-right: -8px;
  color: rgba(0, 0, 0, 0.26); }

.mui-menu-item .mui-toggle {
  margin-top: 12px;
  float: right;
  width: 42px; }

.mui-menu-item.mui-is-selected {
  color: #ff4081; }

.mui-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 0px;
  left: -100%;
  background-color: transparent;
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-overlay.mui-is-shown {
  left: 0px;
  background-color: rgba(0, 0, 0, 0.54);
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-paper.mui-rounded {
  border-radius: 2px; }

.mui-paper.mui-rounded > .mui-paper-container {
  border-radius: 2px; }

.mui-paper.mui-circle {
  border-radius: 50%; }

.mui-paper.mui-circle > .mui-paper-container {
  border-radius: 50%; }

.mui-paper > .mui-paper-container {
  height: 100%;
  width: 100%; }

.mui-paper.mui-z-depth-1 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24); }

.mui-paper.mui-z-depth-1 > .mui-z-depth-bottom {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12); }

.mui-paper.mui-z-depth-2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23); }

.mui-paper.mui-z-depth-2 > .mui-z-depth-bottom {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }

.mui-paper.mui-z-depth-3 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23); }

.mui-paper.mui-z-depth-3 > .mui-z-depth-bottom {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19); }

.mui-paper.mui-z-depth-4 {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22); }

.mui-paper.mui-z-depth-4 > .mui-z-depth-bottom {
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25); }

.mui-paper.mui-z-depth-5 {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22); }

.mui-paper.mui-z-depth-5 > .mui-z-depth-bottom {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3); }

.mui-radio-button .mui-radio-button-icon {
  height: 24px;
  width: 24px;
  margin-right: 16px; }

.mui-radio-button .mui-radio-button-icon .mui-radio-button-fill {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-radio-button .mui-radio-button-icon .mui-radio-button-fill * {
  fill: #00bcd4; }

.mui-radio-button .mui-radio-button-icon .mui-radio-button-target {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mui-radio-button .mui-radio-button-icon .mui-radio-button-target * {
  fill: rgba(0, 0, 0, 0.87);
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms;
          transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 200ms; }

.mui-radio-button.mui-is-switched .mui-radio-button-icon .mui-radio-button-fill {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mui-radio-button.mui-is-switched .mui-radio-button-icon .mui-radio-button-target {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.mui-radio-button.mui-is-switched .mui-radio-button-icon .mui-radio-button-target * {
  fill: #00bcd4;
  -webkit-transition: all 100s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 100s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-radio-button.mui-is-disabled .mui-radio-button-icon .mui-radio-button-fill *,
.mui-radio-button.mui-is-disabled .mui-radio-button-icon .mui-radio-button-target * {
  fill: rgba(0, 0, 0, 0.3); }

.mui-radio-button.mui-is-required .mui-radio-button-icon .mui-radio-button-target * {
  fill: #00bcd4; }

.mui-raised-button {
  display: inline-block;
  min-width: 88px;
  height: 36px; }

.mui-raised-button,
.mui-raised-button * {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-raised-button .mui-raised-button-container {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-raised-button .mui-raised-button-container.mui-is-keyboard-focused {
  background-color: #e6e6e6; }

.mui-raised-button .mui-raised-button-container.mui-is-disabled {
  background-color: #e6e6e6; }

.mui-raised-button .mui-raised-button-container.mui-is-disabled .mui-raised-button-label {
  color: rgba(0, 0, 0, 0.3); }

.mui-raised-button .mui-raised-button-container.mui-is-disabled:hover {
  background-color: #e6e6e6; }

.mui-raised-button .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(0, 0, 0, 0.1); }

.mui-raised-button .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(0, 0, 0, 0.07); }

.mui-raised-button .mui-raised-button-label {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  padding: 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87); }

.mui-raised-button:hover .mui-raised-button-container {
  background-color: #e6e6e6; }

.mui-raised-button.mui-is-primary .mui-raised-button-container {
  background-color: #ff4081; }

.mui-raised-button.mui-is-primary .mui-raised-button-container.mui-is-keyboard-focused {
  background-color: #f30053; }

.mui-raised-button.mui-is-primary .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(255, 255, 255, 0.5); }

.mui-raised-button.mui-is-primary .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(255, 255, 255, 0.5); }

.mui-raised-button.mui-is-primary .mui-raised-button-label {
  color: #ffffff; }

.mui-raised-button.mui-is-primary:hover .mui-raised-button-container {
  background-color: #f30053; }

.mui-raised-button.mui-is-secondary .mui-raised-button-container {
  background-color: #00bcd4; }

.mui-raised-button.mui-is-secondary .mui-raised-button-container.mui-is-keyboard-focused {
  background-color: #00aac0; }

.mui-raised-button.mui-is-secondary .mui-touch-ripple .mui-ripple-circle-inner {
  background-color: rgba(255, 255, 255, 0.35); }

.mui-raised-button.mui-is-secondary .mui-focus-ripple .mui-focus-ripple-inner {
  background-color: rgba(255, 255, 255, 0.35); }

.mui-raised-button.mui-is-secondary .mui-raised-button-label {
  color: #ffffff; }

.mui-raised-button.mui-is-secondary:hover .mui-raised-button-container {
  background-color: #00aac0; }

.mui-focus-ripple {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0; }

.mui-focus-ripple .mui-focus-ripple-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-animation: focus-ripple-pulsate 1.5s ease 0s infinite;
          animation: focus-ripple-pulsate 1.5s ease 0s infinite; }

@-webkit-keyframes focus-ripple-pulsate {
  0%,
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); } }

@keyframes focus-ripple-pulsate {
  0%,
  100% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); } }
.mui-focus-ripple.mui-is-shown {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.mui-ripple-circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-ripple-circle .mui-ripple-circle-inner {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-ripple-circle.mui-is-started {
  opacity: 1; }

.mui-ripple-circle.mui-is-started .mui-ripple-circle-inner {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mui-ripple-circle.mui-is-ending {
  opacity: 0; }

.mui-touch-ripple {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.react-draggable-dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.mui-slider {
  -webkit-touch-callout: none;
  cursor: default;
  height: 24px;
  position: relative; }

.mui-slider .mui-slider-track {
  position: absolute;
  top: 11px;
  left: 0;
  width: 100%;
  height: 2px; }

.mui-slider .mui-slider-selection {
  position: absolute;
  top: 0;
  height: 100%; }

.mui-slider .mui-slider-selection .mui-slider-selection-fill {
  height: 100%;
  -webkit-transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-slider .mui-slider-selection-low {
  left: 0; }

.mui-slider .mui-slider-selection-low .mui-slider-selection-fill {
  background-color: #b2ebf2;
  margin-right: 6px; }

.mui-slider .mui-slider-selection-high {
  right: 0; }

.mui-slider .mui-slider-selection-high .mui-slider-selection-fill {
  background-color: rgba(0, 0, 0, 0.26);
  margin-left: 6px; }

.mui-slider .mui-slider-handle {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 1;
  margin: 1px 0 0 0;
  background-clip: padding-box;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: border 450ms cubic-bezier(0.23, 1, 0.32, 1), width 450ms cubic-bezier(0.23, 1, 0.32, 1), height 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: border 450ms cubic-bezier(0.23, 1, 0.32, 1), width 450ms cubic-bezier(0.23, 1, 0.32, 1), height 450ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 12px;
  height: 12px; }

.mui-slider .mui-slider-handle:focus {
  outline: none; }

.mui-slider:not(.mui-disabled) .mui-slider-handle {
  border: 0px solid transparent;
  background-color: #b2ebf2; }

.mui-slider:not(.mui-disabled) .mui-slider-handle:active {
  width: 24px;
  height: 24px; }

.mui-slider:not(.mui-disabled):hover .mui-slider-selection-high .mui-slider-selection-fill,
.mui-slider:not(.mui-disabled):focus .mui-slider-selection-high .mui-slider-selection-fill {
  background: #9e9e9e; }

.mui-slider:not(.mui-disabled):hover:not(.mui-slider-zero) .mui-slider-handle:not(:active),
.mui-slider:not(.mui-disabled):focus:not(.mui-slider-zero) .mui-slider-handle:not(:active) {
  border: 12px solid rgba(178, 235, 242, 0.2);
  width: 36px;
  height: 36px; }

.mui-slider:not(.mui-disabled).mui-slider-zero .mui-slider-handle {
  border: 2px solid rgba(0, 0, 0, 0.26);
  background-color: transparent;
  box-shadow: none; }

.mui-slider:not(.mui-disabled).mui-slider-zero .mui-slider-handle:active {
  border-color: #9e9e9e;
  width: 24px !important;
  height: 24px !important;
  -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1), width 450ms cubic-bezier(0.23, 1, 0.32, 1), height 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1), width 450ms cubic-bezier(0.23, 1, 0.32, 1), height 450ms cubic-bezier(0.23, 1, 0.32, 1); }

.mui-slider:not(.mui-disabled).mui-slider-zero .mui-slider-handle:active ~ .mui-slider-selection-high .mui-slider-selection-fill {
  margin-left: 12px !important;
  -webkit-transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: margin 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-slider:not(.mui-disabled).mui-slider-zero:hover .mui-slider-handle,
.mui-slider:not(.mui-disabled).mui-slider-zero:focus .mui-slider-handle {
  border: 2px solid #bdbdbd;
  width: 14px;
  height: 14px; }

.mui-slider.mui-disabled {
  cursor: not-allowed; }

.mui-slider.mui-disabled .mui-slider-selection-fill {
  background-color: rgba(0, 0, 0, 0.26); }

.mui-slider.mui-disabled .mui-slider-handle {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.26);
  width: 8px;
  height: 8px; }

.mui-slider.mui-disabled.mui-slider-zero .mui-slider-selection-low .mui-slider-selection-fill {
  margin-right: 5px; }

.mui-slider.mui-disabled.mui-slider-zero .mui-slider-selection-high .mui-slider-selection-fill {
  margin-left: 5px; }

.mui-slider.mui-disabled.mui-slider-zero .mui-slider-handle {
  border: 2px solid rgba(0, 0, 0, 0.26);
  background-color: transparent; }

.mui-snackbar {
  color: white;
  background-color: #323232;
  border-radius: 2px;
  padding: 0 24px;
  height: 48px;
  line-height: 48px;
  min-width: 288px;
  max-width: 568px;
  position: fixed;
  z-index: 10;
  bottom: 24px;
  margin-left: 24px;
  left: -10000px;
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-snackbar .mui-snackbar-action {
  color: #ff4081;
  float: right;
  margin-top: 6px;
  margin-right: -16px;
  margin-left: 24px;
  background-color: transparent; }

.mui-snackbar.mui-is-open {
  left: 0;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-subheader {
  font-size: 13px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  height: 56px;
  line-height: 48px;
  color: #00bcd4;
  border-top: solid 1px #e0e0e0;
  padding-top: 8px;
  margin-top: 8px; }

.mui-subheader:first-child {
  height: 48px;
  border-top: none;
  padding-top: 0;
  margin-top: 0; }

.mui-svg-icon {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.mui-svg-icon * {
  fill: rgba(0, 0, 0, 0.87); }

.mui-table {
  padding: 0 24px; }

.mui-table .mui-table-header .mui-table-header-column {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: 200px; }

.mui-table .mui-table-header .mui-table-header-pagify {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  float: right; }

.mui-table .mui-table-rows .mui-table-rows-item {
  height: 48px;
  line-height: 48px;
  display: block;
  width: 100%; }

.mui-table .mui-table-rows .mui-table-rows-actions {
  height: 48px;
  line-height: 48px;
  display: inline-block;
  float: right; }

.mui-tabs-container {
  position: relative; }

.mui-tabs-container .mui-tab-item-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  background-color: #00bcd4;
  white-space: nowrap;
  display: block; }

.mui-tabs-container .mui-tab-item-container .mui-tab-item {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  color: #fff;
  opacity: .6;
  font-size: 14sp;
  font-weight: 500;
  font: 'Roboto', sans-serif; }

.mui-tabs-container .mui-tab-item-container .mui-tab-item.mui-tab-is-active {
  color: #fff;
  opacity: 1;
  font: 'Roboto', sans-serif; }

.mui-tabs-container .mui-tab-item-container .mui-tab-item .mui-tab-template {
  display: block;
  width: 100%;
  position: relative;
  text-align: initial; }

.mui-text-field {
  font-size: 16px;
  line-height: 24px;
  width: 256px;
  height: 48px;
  display: inline-block;
  position: relative;
  -webkit-transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-text-field .mui-text-field-hint,
.mui-text-field .mui-text-field-floating-label {
  position: absolute;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-text-field .mui-text-field-error {
  position: absolute;
  bottom: -10px;
  font-size: 12px;
  line-height: 12px;
  color: #f44336;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-text-field .mui-text-field-input,
.mui-text-field .mui-text-field-textarea {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87); }

.mui-text-field .mui-text-field-textarea {
  margin-top: 12px; }

.mui-text-field .mui-text-field-underline,
.mui-text-field .mui-text-field-focus-underline {
  position: absolute;
  width: 100%;
  bottom: 8px;
  margin: 0; }

.mui-text-field .mui-text-field-focus-underline {
  border-color: #00bcd4;
  border-bottom-width: 2px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-text-field.mui-has-error .mui-text-field-focus-underline {
  border-color: #f44336;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

.mui-text-field.mui-has-value .mui-text-field-hint {
  opacity: 0; }

.mui-text-field.mui-is-disabled .mui-text-field-input {
  color: rgba(0, 0, 0, 0.3); }

.mui-text-field.mui-is-disabled .mui-text-field-underline {
  border: none;
  height: 40px;
  overflow: hidden; }

.mui-text-field.mui-is-disabled .mui-text-field-underline:after {
  content: '..............................................................................................................................................................................................................................................................................................................................................................';
  position: absolute;
  top: 23px;
  color: rgba(0, 0, 0, 0.3); }

.mui-text-field.mui-is-focused .mui-text-field-focus-underline {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

.mui-text-field.mui-has-floating-labels {
  height: 72px; }

.mui-text-field.mui-has-floating-labels .mui-text-field-floating-label {
  top: 24px;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top; }

.mui-text-field.mui-has-floating-labels .mui-text-field-hint {
  top: 24px;
  opacity: 0; }

.mui-text-field.mui-has-floating-labels .mui-text-field-input {
  padding-top: 24px; }

.mui-text-field.mui-has-floating-labels.mui-has-value .mui-text-field-floating-label,
.mui-text-field.mui-has-floating-labels.mui-is-focused .mui-text-field-floating-label {
  -webkit-transform: scale(0.75) translate3d(0, -18px, 0);
          transform: scale(0.75) translate3d(0, -18px, 0); }

.mui-text-field.mui-has-floating-labels.mui-has-value .mui-text-field-floating-label {
  color: rgba(0, 0, 0, 0.5); }

.mui-text-field.mui-has-floating-labels.mui-is-disabled .mui-text-field-hint {
  color: rgba(0, 0, 0, 0.3); }

.mui-text-field.mui-has-floating-labels.mui-is-focused .mui-text-field-hint {
  opacity: 1; }

.mui-text-field.mui-has-floating-labels.mui-is-focused .mui-text-field-floating-label {
  -webkit-transform: scale(0.75) translate3d(0, -18px, 0);
          transform: scale(0.75) translate3d(0, -18px, 0);
  color: #00bcd4; }

.mui-text-field.mui-has-floating-labels.mui-is-focused.mui-has-error .mui-text-field-floating-label {
  color: #f44336; }

.mui-text-field.mui-has-floating-labels.mui-is-focused.mui-has-value .mui-text-field-hint {
  opacity: 0; }

.mui-toggle .mui-toggle-icon {
  padding: 4px 0px 6px 2px;
  margin-right: 8px; }

.mui-toggle .mui-toggle-icon .mui-toggle-track {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 36px;
  height: 14px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.26); }

.mui-toggle .mui-toggle-icon .mui-toggle-thumb {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #fafafa; }

.mui-toggle .mui-toggle-icon .mui-toggle-thumb .mui-paper-container {
  border-radius: 50%; }

.mui-toggle .mui-toggle-icon .mui-toggle-thumb .mui-touch-ripple,
.mui-toggle .mui-toggle-icon .mui-toggle-thumb .mui-focus-ripple-inner {
  width: 200%;
  height: 200%;
  top: -10px;
  left: -10px; }

.mui-toggle.mui-is-switched .mui-toggle-icon .mui-toggle-track {
  background-color: rgba(0, 188, 212, 0.5); }

.mui-toggle.mui-is-switched .mui-toggle-icon .mui-toggle-thumb {
  left: 18px;
  background-color: #00bcd4; }

.mui-toggle.mui-is-disabled .mui-toggle-icon {
  cursor: default; }

.mui-toggle.mui-is-disabled .mui-toggle-icon .mui-toggle-track {
  background-color: rgba(0, 0, 0, 0.12); }

.mui-toggle.mui-is-disabled .mui-toggle-icon .mui-toggle-thumb {
  background-color: #bdbdbd; }

.mui-toggle.mui-is-required .mui-toggle-icon .mui-toggle-track {
  background-color: rgba(0, 188, 212, 0.5); }

.mui-toggle.mui-is-required .mui-toggle-icon .mui-toggle-thumb {
  background-color: #00bcd4; }

.mui-toolbar {
  background-color: #e1e1e1;
  height: 56px;
  width: 100%;
  padding: 0 24px; }

.mui-toolbar .mui-toolbar-group {
  position: relative; }

.mui-toolbar .mui-toolbar-group .mui-toolbar-title {
  padding-right: 16px;
  line-height: 56px; }

.mui-toolbar .mui-toolbar-group .mui-toolbar-separator {
  background-color: rgba(0, 0, 0, 0.175);
  display: inline-block;
  height: 32px;
  margin-left: 24px;
  position: relative;
  top: 12px;
  width: 1px; }

.mui-toolbar .mui-toolbar-group .mui-raised-button,
.mui-toolbar .mui-toolbar-group .mui-flat-button {
  margin: 0 24px;
  margin-top: 10px;
  position: relative; }

.mui-toolbar .mui-toolbar-group .mui-drop-down-menu {
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  margin-right: 24px; }

.mui-toolbar .mui-toolbar-group .mui-drop-down-menu .mui-menu-control-bg {
  background-color: #ffffff;
  border-radius: 0; }

.mui-toolbar .mui-toolbar-group .mui-drop-down-menu .mui-menu-control .mui-menu-control-underline {
  display: none; }

.mui-toolbar .mui-toolbar-group .mui-drop-down-menu .mui-font-icon:hover {
  color: rgba(0, 0, 0, 0.4); }

.mui-toolbar .mui-toolbar-group .mui-font-icon {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  line-height: 56px;
  padding-left: 24px; }

.mui-toolbar .mui-toolbar-group .mui-font-icon:hover {
  color: rgba(0, 0, 0, 0.87);
  z-index: 1; }

.mui-toolbar .mui-toolbar-group.mui-left {
  float: left; }

.mui-toolbar .mui-toolbar-group.mui-left .mui-drop-down-menu,
.mui-toolbar .mui-toolbar-group.mui-left .mui-font-icon,
.mui-toolbar .mui-toolbar-group.mui-left .mui-toolbar-separator,
.mui-toolbar .mui-toolbar-group.mui-left .mui-drop-down-icon {
  float: left; }

.mui-toolbar .mui-toolbar-group.mui-left:first-child {
  margin-left: -24px; }

.mui-toolbar .mui-toolbar-group.mui-left:first-child .mui-toolbar-title {
  margin-left: 24px; }

.mui-toolbar .mui-toolbar-group.mui-right {
  float: right; }

.mui-toolbar .mui-toolbar-group.mui-right * {
  vertical-align: top; }

.mui-toolbar .mui-toolbar-group.mui-right:last-child {
  margin-right: -24px; }

.mui-tooltip {
  position: absolute;
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 22px;
  padding: 0 8px;
  color: #ffffff;
  overflow: hidden;
  top: -10000px;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms, -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-tooltip .mui-tooltip-label {
  position: relative;
  white-space: nowrap; }

.mui-tooltip .mui-tooltip-ripple {
  position: absolute;
  left: 50%;
  top: 0px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: width 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms, height 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms, background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: width 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms, height 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms, background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-tooltip.mui-is-shown {
  top: -16px;
  opacity: 1;
  -webkit-transform: translate3d(0px, 16px, 0px);
          transform: translate3d(0px, 16px, 0px);
  -webkit-transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-tooltip.mui-is-shown .mui-tooltip-ripple {
  background-color: #757575;
  -webkit-transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-tooltip.mui-is-touch {
  font-size: 14px;
  line-height: 44px;
  padding: 0 16px; }

.mui-tooltip.mui-is-touch.mui-is-shown .mui-tooltip-ripple {
  height: 105px;
  width: 105px; }

.mui-transition-slide-in {
  position: relative;
  overflow: hidden;
  height: 100%; }

.mui-transition-slide-in .mui-transition-slide-in-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.mui-transition-slide-in .mui-transition-slide-in-enter {
  opacity: 0; }

.mui-transition-slide-in .mui-transition-slide-in-enter-active {
  opacity: 1; }

.mui-transition-slide-in .mui-transition-slide-in-leave {
  opacity: 1; }

.mui-transition-slide-in .mui-transition-slide-in-leave-active {
  opacity: 0; }

.mui-transition-slide-in.mui-is-left .mui-transition-slide-in-enter {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.mui-transition-slide-in.mui-is-left .mui-transition-slide-in-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-left .mui-transition-slide-in-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-left .mui-transition-slide-in-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.mui-transition-slide-in.mui-is-right .mui-transition-slide-in-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.mui-transition-slide-in.mui-is-right .mui-transition-slide-in-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-right .mui-transition-slide-in-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-right .mui-transition-slide-in-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.mui-transition-slide-in.mui-is-up .mui-transition-slide-in-enter {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0); }

.mui-transition-slide-in.mui-is-up .mui-transition-slide-in-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-up .mui-transition-slide-in-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-up .mui-transition-slide-in-leave-active {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0); }

.mui-transition-slide-in.mui-is-down .mui-transition-slide-in-enter {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0); }

.mui-transition-slide-in.mui-is-down .mui-transition-slide-in-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-down .mui-transition-slide-in-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.mui-transition-slide-in.mui-is-down .mui-transition-slide-in-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0); }

.VS-search .VS-icon {
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  width: 16px;
  height: 16px; }

.VS-search .VS-icon-cancel {
  width: 11px;
  height: 11px;
  background-position: center 0;
  background-image: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAWCAYAAAAW5GZjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAb9JREFUeNqUUr1qAkEQ3j0khQp6kihaeGgEEa18gTQR0iRY+BaBSMDGwidIEUKqFL6BopgqBAJ5AMFGjUU0d4WHEvwJarvZ77gRIzGYgb1hZr+Z75vZ40IIzqTNZrPj8Xicn0wmmcViEXS73aaqqq+BQODG6/W+A8MBNk3zfDAY3C6Xy0O2ZS6X6zMSiVwHg8FHLjtq7Xb7RQKj7BeTzVCgJ5PJU2U0GhUk7REuMpkMi8fjFggeMeecrVYrFRId0CgTAgDDMFg4HLbA8IjJgHNgGEr0er0fQIphUmZAwdSUADUB4RFDsz3oSMF6CLzZkQqgGebz+Z75dDqNdTqdp13bgDmdTj2VSp0oWHg0Gr2UNH2Z/9o+yMv7K4/HY/C/XhDUfr//jl7QQVT9fp/V63VWqVRYt9tliUSCZbPZg1wux9Lp9PqFeK1Wu9A0DdXz7YM87i0FrVZLs4Fi1wmFQh/NZjOmVKvVgq7rR/QflMtlixGedjwcDlUpMQ9tbzalkAAB2/R297mNW+sT2wUbUnA//V/nYrH4QOBNABUQuFQq3TNMuc82sDVrz41G42yvPeODAwZQ0QzwiJEnzLcAAwBJ6WXlwoBgZAAAAABJRU5ErkJggg==");
  cursor: pointer; }

.VS-search .VS-icon-cancel:hover {
  background-position: center -11px; }

.VS-search .VS-icon-search {
  width: 12px;
  height: 12px;
  background-image: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUZJREFUeNpUUM2qgmAQzS8NiUgLzTIXLZQW1QuI9AY9QPSW9gQ9QiriwpJQEBVrVWT2d7p2L9xZzDdzZs7M+YYqy/J8Ptu2vd/v4zgeDAaqqk4mE47jar9GnU6nzWbjOA5FUa/Xq0Jns9l8Pud5vkpp58cwAOzhcBhFkeu6GNztdg3D+Db5vo9nOp2iiWGYTqdDCMFe4LquI0aVpGmKR9M0lmUbjQY8YiBJklTb4YkoilBzOBzq9TogeMQIJEmqmlAlo9EIyXa7tSyrKAp4xEBkWUb5q2k8Hh+PR8/zwjCEgufz+aESstvtoKnVan2GgY31kBkEAfT1ej1FUZDiNIIgrFYr9H1ug3teLpfH43G/3/FBUJGu1+s8z8FZLpc0mmiabrfbf5fEumazuVgsTNO8Xq+3242qRNT+G0CMz7IMzH6//xZgAA60tj6rqzxpAAAAAElFTkSuQmCC"); }

.VS-search div, .VS-search span, .VS-search a, .VS-search img, .VS-search ul, .VS-search li, .VS-search form, .VS-search label, .VS-interface ul, .VS-interface li, .VS-interface {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

.VS-search :focus {
  outline: 0; }

.VS-search {
  line-height: 1;
  color: black; }

.VS-search ol, .VS-search ul {
  list-style: none; }

.VS-search {
  font-family: Arial,sans-serif;
  color: #373737;
  font-size: 12px; }

.VS-search input {
  display: block;
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 4px;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  width: 100%; }

.VS-interface, .VS-search .dialog, .VS-search input {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
  line-height: 1.1em; }

.VS-search .VS-search-box {
  cursor: text;
  position: relative;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  background-color: #fafafa;
  box-shadow: inset 0 0 3px #ccc;
  min-height: 28px;
  height: auto; }

.VS-search.VS-readonly .VS-search-box {
  cursor: default; }

.VS-search .VS-search-box.VS-focus {
  border-color: #acf;
  box-shadow: inset 0 0 3px #acf; }

.VS-search .VS-placeholder {
  position: absolute;
  top: 7px;
  left: 4px;
  margin: 0 20px 0 22px;
  color: #808080;
  font-size: 14px; }

.VS-search .VS-search-box.VS-focus .VS-placeholder, .VS-search .VS-search-box .VS-placeholder.VS-hidden {
  display: none; }

.VS-search .VS-search-inner {
  position: relative;
  margin: 0 20px 0 22px;
  overflow: hidden; }

.VS-search input {
  width: 100px; }

.VS-search input, .VS-search .VS-input-width-tester {
  padding: 6px 0;
  float: left;
  color: #808080;
  font: 13px/17px Helvetica,Arial; }

.VS-search.VS-focus input {
  color: #606060; }

.VS-search .VS-icon-search {
  position: absolute;
  left: 9px;
  top: 8px; }

.VS-search .VS-icon-cancel {
  position: absolute;
  right: 9px;
  top: 8px; }

.VS-search.VS-readonly .VS-icon-cancel {
  display: none; }

.VS-search .search_facet {
  float: left;
  margin: 0;
  padding: 0 0 0 14px;
  position: relative;
  border: 1px solid transparent;
  height: 20px;
  margin: 3px -3px 3px 0; }

.VS-search.VS-readonly .search_facet {
  padding-left: 0; }

.VS-search .search_facet.is_selected {
  margin-left: -3px;
  border-radius: 16px;
  background-color: #d2e6fd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2e6fd), to(#b0d1f9));
  background-image: -webkit-linear-gradient(top, #d2e6fd, #b0d1f9);
  background-image: linear-gradient(top, #d2e6fd, #b0d1f9);
  border: 1px solid #6eadf5; }

.VS-search .search_facet .category {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: #808080;
  padding: 8px 0 5px;
  line-height: 13px;
  cursor: pointer;
  padding: 4px 0 0; }

.VS-search.VS-readonly .search_facet .category {
  cursor: default; }

.VS-search .search_facet.is_selected .category {
  margin-left: 3px; }

.VS-search .search_facet .search_facet_input_container {
  float: left; }

.VS-search .search_facet input {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 0 5px 4px;
  height: 16px;
  width: auto;
  z-index: 100;
  position: relative;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-right: 3px; }

.VS-search .search_facet.is_editing input, .VS-search .search_facet.is_selected input {
  color: #000; }

.VS-search.VS-readonly .search_facet .search_facet_remove {
  display: none; }

.VS-search .search_facet .search_facet_remove {
  position: absolute;
  left: 0;
  top: 4px; }

.VS-search .search_facet.is_selected .search_facet_remove {
  opacity: .4;
  left: 3px;
  filter: alpha(opacity=40);
  background-position: center -11px; }

.VS-search .search_facet .search_facet_remove:hover {
  opacity: 1; }

.VS-search .search_facet.is_editing .category, .VS-search .search_facet.is_selected .category {
  color: #000; }

.VS-search .search_facet.search_facet_maybe_delete .category, .VS-search .search_facet.search_facet_maybe_delete input {
  color: darkred; }

.VS-search .search_input {
  height: 28px;
  float: left;
  margin-left: -1px; }

.VS-search .search_input input {
  padding: 6px 3px 6px 2px;
  line-height: 10px;
  height: 22px;
  margin-top: -4px;
  width: 10px;
  z-index: 100;
  min-width: 4px;
  position: relative; }

.VS-search .search_input.is_editing input {
  color: #202020; }

.ui-helper-hidden-accessible {
  display: none; }

.VS-interface.ui-autocomplete {
  position: absolute;
  border: 1px solid #C0C0C0;
  border-top: 1px solid #D9D9D9;
  background-color: #F6F6F6;
  cursor: pointer;
  z-index: 10000;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 80px;
  max-width: 220px;
  max-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 13px;
  top: 5px;
  opacity: .97;
  box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.5); }

.VS-interface.ui-autocomplete .ui-autocomplete-category {
  text-transform: capitalize;
  font-size: 11px;
  padding: 4px 4px 4px;
  border-top: 1px solid #A2A2A2;
  border-bottom: 1px solid #A2A2A2;
  background-color: #B7B7B7;
  text-shadow: 0 -1px 0 #999;
  font-weight: bold;
  color: white;
  cursor: default; }

.VS-interface.ui-autocomplete .ui-menu-item {
  float: none; }

.VS-interface.ui-autocomplete .ui-menu-item a {
  color: #000;
  outline: none;
  display: block;
  padding: 3px 4px 5px;
  border-radius: none;
  line-height: 1;
  background-color: #F8F8F8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F3F3F3));
  background-image: -webkit-linear-gradient(top, #F8F8F8, #F3F3F3);
  background-image: linear-gradient(top, #F8F8F8, #F3F3F3);
  border-top: 1px solid #FAFAFA;
  border-bottom: 1px solid #f0f0f0; }

.VS-interface.ui-autocomplete .ui-menu-item a:active {
  outline: none; }

.VS-interface.ui-autocomplete .ui-menu-item .ui-state-hover, .VS-interface.ui-autocomplete .ui-menu-item .ui-state-focus {
  background-color: #6483F7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#648bF5), to(#2465f3));
  background-image: -webkit-linear-gradient(top, #648bF5, #2465f3);
  background-image: linear-gradient(top, #648bF5, #2465f3);
  border-top: 1px solid #5b83ec;
  border-bottom: 1px solid #1459e9;
  border-left: none;
  border-right: none;
  color: white;
  margin: 0; }

.VS-interface.ui-autocomplete .ui-corner-all {
  border-radius: 0; }

.VS-interface.ui-autocomplete li {
  list-style: none;
  width: auto; }

.container:after {
  content: "";
  display: table;
  clear: both; }

ul {
  list-style: none;
  padding-left: 0; }

.catalog-button {
  /* test */ }

/**********************************
 * Components
 **********************************/
/* the tree node's style */
.tree-view {
  overflow-y: hidden; }

/* style for the container */
.tree-view_children {
  margin-left: 16px; }

.tree-view_children-collapsed {
  height: 0px; }

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.tree-view-node {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px; }

.tree-view-node:hover {
  background-color: #dcf5f3;
  cursor: pointer; }

.info, .tree-view-node {
  padding: 2px 10px 2px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.tree-view_arrow {
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }

.tree-view_arrow-empty {
  color: yellow; }

.create-form {
  display: none; }

.create-form.expanded {
  display: inline-block; }

.create-control {
  display: inline-block; }

.tree-view_children-collapsed {
  margin: 0; }

body {
  font-size: 100%;
  background-color: whitesmoke; }

.mui-icon-button {
  padding: 4px;
  top: 2px; }

.mui-svg-icon {
  height: 17px;
  width: 17px; }

.fancy-field {
  display: inline-block; }

.mui-text-field {
  width: 200px; }

.hidden {
  display: none; }

.toolbar {
  position: fixed;
  background-color: gray;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  height: 30px; }

/**************************
 * Main style.
 **************************/
.container {
  background-color: whitesmoke;
  padding: 1em;
  padding-top: 0;
  margin-top: 30px; }

a {
  text-decoration: none; }

.column {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12); }

.column {
  background-color: white;
  height: 40rem;
  width: 32%;
  margin-right: 2%;
  float: left;
  padding: 1em;
  padding-top: 0.5em; }
  .column:last-child {
    margin-right: 0; }

.column .region {
  margin-bottom: 2em; }

#nodeList {
  margin-top: 1em; }

.inactive a {
  color: gray; }

ul {
  padding-left: 0; }
  ul ul {
    padding-left: 1em;
    margin-bottom: 0.5em; }

.value.active {
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */