.column {
  width: 33%;
  float: left;
}

.column div {
  margin-bottom: 2em;
}

#nodeList {
  margin-top: 1em;
}

.inactive a {
  color: gray;
}

#manCollectionsContainer {
  clear: both;
  height: 300px;
  background-color: WhiteSmoke;
  padding: 1em;
}

#manCollectionsContainer h2 {
  float: left;
  margin-right: 1em;
}

#manCollectionsContainer #manCollections, #manCollectionsContainer ul {
  float: left;
  width: 33%;
}

#manCollectionsContainer #manCollections {
  clear: both;
}

#collContent {
  min-height: 200px;
  background-color: white;
  padding-top: 1em;
}

.manual-collection.active a {
  background-color: yellow;
}
